<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}" class="header">Dog Profile</h1>

<section class="clarfix-after clearfix">
    <h2 th:text="${dog.name}"></h2>

    <section class="display-block">
        <div th:if="${!dog.photos.isEmpty()}" th:each="photo : ${dog.photos}"
             class="profile-image-container inline-block">
            <img th:src="${photo.path}"/>
        </div>
    </section>
    <section>
        <p th:text="${dog.name}"></p>
        <p th:text="${dog.breed.name}"></p>
        <p th:text="${dog.age}"></p>
        <p th:text="${dog.owner.firstName}"></p>
    </section>
</section>
<div>
<form method="POST" th:action="@{/attach/(dogId=${dog.id})}" th:object="${newPhoto}" enctype="multipart/form-data">
    <label th:for="image-upload">Attach Dog Images</label><br/>
    <input type="text" th:name="*{path}" th:field="*{path}" name="path" class="form-control-md" size="50"/>
    <small id="fileHelp" class="form-text text-muted">Please insert the URL of your doggy's image</small>
    <br/>
    <input th:type="hidden" th:name ="${dog.id}" th:value="${dog.id}">
    <input type="submit" value="Attach"  class="btn btn-primary" id="image-upload"/>
</form>
</div>
<div th:if="${message}">
    <small th:text="${message}" class="success"></small>
</div>
<div th:if="${errormessage}">
    <small th:text="${errormessage}" class="error"></small>
</div>
<th:block th:include="fragments :: assets"></th:block>
</body>
</html>