<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}" class = "header">List of dogs</h1>

<article class="col-lg-6">
<table class="table" id="dog-list">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Breed</th>
        <th>Age</th>
    </tr>
    <tr th:each="dog : ${dogs}">
        <td> <a th:href="@{/dogs/dog_profile(dogId=${dog.id})}" th:text = "Profile">Profile</a></td>
        <td th:text = "${dog.name}"></td>
        <td th:text = "${dog.breed.name}"></td>
        <td th:text = "${dog.age}"></td>
    </tr>
</table>

    <div th:each="data, row: ${dogs}" th:with="numList=${ {3,2,1,0} }" th:if="${row.count % 4 == 0 or row.last}" class="row">
        <!-- Show all rows except the leftovers -->
        <span th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})" th:if="${row.count % 4 == 0}" th:text="${dogs[dataIndex].name}">data</span>
        <!-- Show the remainders (eg, if there are 9 items, the last row will have one item in it) -->
        <span th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})" th:if="${row.last} and ${row.count % 4 != 0} and ${num &lt; row.count % 4}" th:text="${dogs[dataIndex].name}">data</span>
    </div>
</article>
<article class="col-lg-6">
    <div>
        Dog info
    </div>
</article>
<th:block th:include="fragments :: assets"></th:block>
</body>
</html>