<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<main class="container">
    <h1 th:text="${title}" class="header">List of dogs</h1>
    <small th:if="deleteMessage" th:text="${deleteMessage}"></small>
    <article class="dog-grid">
        <div th:each="dog, row: ${dogs}" th:with="numList=${ {3,2,1,0} }" th:if="${row.count % 4 == 0 or row.last}"
             class="row" th:onclick="dogInfo">
            <!-- Show all rows except the leftovers -->
            <span th:each="num : ${numList}"
                  th:with="dataIndex=(${row.index} - ${num})"
                  th:if="${row.count % 4 == 0}"
                  class="col-sm-3 border-bottom">

                    <div class="doggy-thumbnail" th:with="dog=${dogs[dataIndex]}">
                        <div class="circular" th:if="${!dog.photos.isEmpty()}">
                            <img th:src="${dogs[dataIndex].photos[0].path}"/>
                        </div>
                          <div class="circular mid-opacity" th:if="${dog.photos.isEmpty()}">
                            <img th:if="${dog.gender} == 'm'"
                                 th:src="@{/images/defaultdoggy.jpg}"/>
                            <img th:if="${dog.gender} == 'f'"
                                 th:src="@{/images/defaultdoggyfem.jpg}"/>
                        </div>
                        <p th:text="${dog.name}">Doggy name</p>
                        <p th:text="${dog.breed.name}"></p>
                        <p th:text="${dog.gender}"></p>
                        <p th:text="${dog.age}"></p>
                        <a th:href="@{/dogs/dog_profile(dogId=${dog.id})}">
                            Go to full profile
                        </a>
                        <form th:action="@{'delete/{id}'(id=${dog.id})}" th:method="delete" method="delete">
                            <button type="submit" id="deleteButton">Delete</button>
                        </form>
                    </div>

            </span>
            <!-- Show the remainders (eg, if there are 9 items, the last row will have one item in it) -->
            <span th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})"
                  th:if="${row.last} and ${row.count % 4 != 0} and ${num &lt; row.count % 4}"
                  class="col-sm-3 border-bottom">
                <div class="doggy-thumbnail" th:with="dog=${dogs[dataIndex]}">
                        <div class="circular" th:if="${!dog.photos.isEmpty()}">
                            <img th:src="${dogs[dataIndex].photos[0].path}"/>
                        </div>
                          <div class="circular mid-opacity" th:if="${dog.photos.isEmpty()}">
                            <img th:if="${dog.gender} == 'm'"
                                 th:src="@{/images/defaultdoggy.jpg}"/>
                            <img th:if="${dog.gender} == 'f'"
                                 th:src="@{/images/defaultdoggyfem.jpg}"/>
                        </div>
                        <p th:text="${dog.name}">Doggy name</p>
                        <p th:text="${dog.breed.name}"></p>
                        <p th:text="${dog.gender}"></p>
                        <p th:text="${dog.age}"></p>
                        <a th:href="@{/dogs/dog_profile(dogId=${dog.id})}">
                            Go to full profile
                        </a>
                    </div>
            </span>
        </div>
    </article>

</main>
<th:block th:include="fragments :: assets"></th:block>
</body>
</html>