body {
    color: #2b2b2b;
}

a, .navbar  {
    color: #FFC300;
}

a:hover {
    color: #FF5733;
    text-decoration: none;
}

.main-image {
    height: 70vh;
    background: url(../images/back.jpg) no-repeat;
    background-size: contain;
    background-position-x: 100%;
}

.profile-image-container {
    height: 100%;
    max-width: 200px;
    max-height: 250px;
    margin: 20px 0px;
}

.profile-image-container img {
    height: 100%;
    width: 100%;
}

article {
    display: inline-block;
}

.error {
    color: red;
}

.success {
    color: forestgreen;
}

.display-none {
    display: none;
    visibility: hidden;
}

.display-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.clarfix-after::after {
    content: "";
    clear: both;
    display: table;
}
