body {
    color: #243B55;
}

a, .navbar  {
    color: #FFC300;
}

a:hover {
    color: #FF5733;
    text-decoration: none;
}

.main-image {
    height: 70vh;
    background: url(../images/back.jpg) no-repeat;
    background-size: contain;
    background-position-x: 100%;
}

.profile-image-container {
    height: 100%;
    max-width: 200px;
    max-height: 250px;
    margin: 20px 0px;
}

.profile-image-container img {
    height: 100%;
    width: 100%;
}

.dog-grid{
    color: #243B55;
}

.doggy-thumbnail{
  margin: 10px;
}



.circular {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.circular img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.doggy-thumbnail img{
    width: 100%;
}

.doggy-thumbnail a{
    width: 100%;
    display: inline-block;
    padding: 5px;
    background-color: #243B55;
    color: ghostwhite;
}


.doggy-thumbnail a:hover{
    background-color: #FF5733;
}

h5{
    display: inline-block;
}

article {
    display: inline-block;
}

.error {
    color: red;
}

.success {
    color: forestgreen;
}

.display-none {
    display: none;
    visibility: hidden;
}

.display-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.clarfix-after::after {
    content: "";
    clear: both;
    display: table;
}
