<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Registration</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/reg.css">
</head>
<body>
<div class="form_container">
    <h3>Create An Account</h3>
    <form method="POST" action="#" th:action="@{/registration}" th:object="${user}" class="reg_form">
        <div>
            <label for="fName">First Name</label>
            <input type="text" th:field="*{firstName}" name="fName" id="fName" required="required"/>
        </div>
        <div>
            <label for="lName">Last Name</label>
            <input type="text" th:field="*{lastName}" name="lName" id="lName" required="required"/>
        </div>
        <div>
            <label for="mail">Mail</label>
            <input type="email" th:field="*{email}" name="mail" id="mail"/>
        </div>
        <div>
            <label for="pass">Password</label>
            <input type="password" th:field="*{password}" name="pass" id="pass" required="required"/>
        </div>
        <div>
            <label for="confirm">Confirm</label>
            <input type="password" name="confirm" id="confirm" required="required"/>
        </div>
        <div>
            <input type="submit" name="submit" value="Sign Up">
        </div>
    </form>
    <h1>Result</h1>
    <p th:text="'firstName: ' + ${user.firstName}"></p>
    <p th:text="'lastName: ' + ${user.lastName}"></p>
</div>
</body>
</html>